:root {
   --poppins: "Poppins", sans-serif;
   --sans: "DM Sans", sans-serif;
   --blackpure: #000;
   --black: #171718;
   --black-border: #26292D;
   --white: #fff;
   --purple: #5C62EC;
   --text-color: var(--black);
   --dark-bg: var(--black);
   --dark-border: var(--black-border);
   --header-text: var(--white);
   --accent: var(--purple);
    /* Светлая тема */
   --page-bg: var(--white);
   --text-color: var(--black);
   --title-1: var(--accent);
   --project-card-bg: var(--white);
   --project-card-text: var(--black);
   --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}
.dark {
   /* Темная тема */
   --page-bg: #252526;
   --text-color: var(--white);
   --blackpure: #fff;
   --title-1: var(--white);

   --project-card-bg: var(--black);
   --project-card-text: var(--white);
   --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}
html,body {
   font-family:"DM Sans", sans-serif;
   letter-spacing: -0.5px;
   color: var(--text-color);
   background-color: var(--page-bg);
   color: var(--text-color);
}
.container {
   margin: 0 auto;
   padding: 0 15px;
   max-width: 1200px;
}