@media (max-width: 800px) {
   .nav-row{
      justify-content: space-between;
   }
   .dark-mode-btn {
      order: 0;
   }
   .project__lists {
      justify-content: center;
   }
   .header__title {
      font-size: 35px;
   }
   .header__text {
      padding-bottom: 30px;
      font-size: 14px;
  }
   .project__title {
      padding: 10px 15px 20px;
      font-size: 20px;
   }
   .title-1 {
      margin-bottom: 30px;
      padding: 50px 0;
      font-size: 35px;
   }
   .title-2 {
      margin-bottom: 20px;
      font-size: 30px;
   }
   .header {
      min-height: 635px;
   }
}