.title-1 {
   margin-bottom: 60px;
   padding: 70px 0;
   font-family: var(--sans);
   color: var(--accent);
   font-weight: 700;
   font-size: 60px;
   line-height: 130%;
   letter-spacing: -0.5px;
   text-align: center;
}
.project__lists {
   display: flex;
   flex-wrap: wrap;
   column-gap: 30px;
   row-gap: 30px;
}
.project {
   max-width: 370px;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: 10px;
   transition: transform 0.3s ease;
}
.project:hover {
   transform: scale(1.1);
}
.project__img {
   border-radius: 10px;
}
.project__title {
   padding: 15px 20px 25px;
   font-family: var(--sans);
   color: var(--black);
   font-weight: 700;
   font-size: 24px;
   line-height: 130%;
   letter-spacing: -0.5px;
}